@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-side {
  0%,
  100% {
    transform: translateY(0) translateX(-50px);
  }
  50% {
    transform: translateY(-50px) translateX(0px);
  }
}
@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-side {
  animation: bounce-side 5s infinite;
}
@media (max-width: 640px) {
  .animate-bounce-slow {
    animation: bounce-slow 3s infinite;
  }
}
